* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(1, 1, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(15, 15, 77);
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 23px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(137, 137, 227);
    font-size: 1.05rem;
}
#about-me {
    margin:40px;
    text-align: right;
}

#about-me img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 150px 50px auto 50px;
    box-shadow: 10px 10px 15px rgba(205, 212, 225);
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    border: 2px solid rgb(119, 139, 177);
    transition: transform 0.3s ease-in-out;
}

#about-me img:hover {
    transform: scale(1.1);
}
footer{
    margin: 150px 0px 0px;
    color: white;
    display: flex;
    height: 25vh;
    background-color: rgb(70, 137, 196);
}
.footerFirstRight{
    margin: 20px 150px;
}
.footer-text{
    font-size: 1.15rem;
    width: 300px;
    margin: 0px 150px;
}
.footerFirstLeft{
    margin: 20px 150px;
}
.gmail{
    margin-top: 5px;
    font-size: 0.8rem;
    text-align:center;
}
.linkedin{
    margin-top: 5px;
    font-size: 0.8rem;
    text-align:center;
}
.github{
    margin-top: 5px;
    font-size: 0.8rem;
    text-align: center;
}
#about-me{
    text-align: justify;
    width: 450px;
}
p{
    margin-top: 20px;
    margin-left: 10px;
}
