* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(1, 1, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(15, 15, 77);
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(137, 137, 227);
    font-size: 1.05rem;
}

.img1{
    width: 45%;
    height: 20%;
}
.img2{
    width: 45%;
    height:20%
}
.left {
    font-size: 2rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin:30px 20px;
    height: 80vh;
}
.firstSection>div {
    width: 30%;
}

.firstSectionLeft {
    margin-top: 150px;
    font-size: 40px;
}

.firstSectionRight {
    background-color: none;
}
.secondSection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
h1{
    margin:30px;
}
.secondSection .skills{
    height: 2px;
    background-color: rgb(170, 205, 236);
}
.secondSectionLeft {
    margin-top: 150px;
    font-size: 40px;
    width: 50%;
}

.secondSectionRight {
    background-color: none;
    position: absolute;
    width: 50%;
    right: 0px;
}
.secondSectionVertical {
    display: flex;
    align-items: center;
    width: 150px;
    font-size: 20px;
  }

  .secondSectionVertical img {
    width: 60px;
    margin: 40px 10px 30px 30px;
  }
.gray-text{
    margin-left: 30px;
    font-size: medium;
    color: gray;
}
.purple {
    color: rgb(152, 84, 216);
}

#element {
    color: rgb(152, 84, 216);
}

footer{
    margin: 150px 0px 0px;
    color: white;
    display: flex;
    height: 25vh;
    background-color: rgb(70, 137, 196);
}
.footerFirstRight{
    margin: 20px 150px;
}
.footer-text{
    font-size: 1.15rem;
    width: 300px;
    margin: 0px 150px;
}
.footerFirstLeft{
    margin: 20px 150px;
}
.gmail{
    margin-top: 5px;
    font-size: 0.8rem;
    text-align:center;
}
.linkedin{
    margin-top: 5px;
    font-size: 0.8rem;
    text-align:center;
}
.github{
    margin-top: 5px;
    font-size: 0.8rem;
    text-align: center;
}
@media (max-width:429.99px){
    #contact{
        display: none;
    }
    #myavataar{
        margin-top: 75px;
    }
    #home{
        display: none;
    }
    .left{
        display: none;
    }
    .firstSection{
        height: 40vh;
        margin-top: 75px;
    }
    .navbar{
        font-size: 0.8rem;
    }
    .firstSectionLeft {
        font-size: 25px;
        margin-left: 10px;
        margin-top: 50px;
    }
    #skills{
        visibility: hidden;
        display: none;
    }
    .footer{
        height: fit-content;
    }
    .footerFirstLeft {
        margin: 70px 25vw;
        font-size: 2rem;
    }
    .footerFirstRight{
        display: none;
    }
    .footer-text{
        font-size: 16px;
        margin: auto;
    }
}
@media (max-width:582.99px) and (min-width:430px) {
    #myavataar{
        margin-top: 75px;
    }
    #home{
        display: none;
    }
    .left{
        display: none;
    }
    .firstSection{
        height: 40vh;
        margin-top: 75px;
    }
    .navbar{
        font-size: 0.8rem;
    }
    .firstSectionLeft {
        font-size: 25px;
        margin-left: 10px;
        margin-top: 50px;
    }
    #skills{
        visibility: hidden;
        display: none;
    }
    .footer{
        height: fit-content;
    }
    .footerFirstLeft{
        margin:70px 20px;
        font-size: 1.2rem;
    }
    .footerFirstRight{
        width: 400px;
        font-size: 10px;
        margin: 70px auto;
        margin-right: 30px;
    }
    .footer-text{
        font-size: 16px;
        margin: auto;
    }
}
@media (max-width:839px)and (min-width:583px) {
    .firstSection {
        display: flex;
        justify-content: space-around;
        margin: 30px 20px;
        height: 51vh;
    }
    #myavataar{
        margin-top: 60px;
    }
    .left{
        font-size: 16px;
        margin-left:10px ;
    }
    nav ul li a:hover {
        color: rgb(137, 137, 227);
        font-size: 0.75rem;
    }
    .navbar{
        font-size: 0.7rem;
    }
    .firstSectionLeft {
        font-size: 28px;
        margin-left: 10px;
        margin-top: 60px;
    }
    #skills{
        visibility: hidden;
        display: none;
    }
    .footer{
        height: fit-content;
    }
    .footerFirstLeft{
        margin:70px 20px;
        font-size: 1.2rem;
    }
    .footerFirstRight{
        width: 400px;
        font-size: 10px;
        margin: 70px auto;
        margin-right: 30px;
    }
    .footer-text{
        font-size: 16px;
        margin: auto;
    }
}
@media (max-width:1138px) and (min-width:840px) {
    .right{
        font-size: 0.8rem;
    }
    .left{
        margin-left: 15px;
    }
    .firstSection .secondSection{
        width: 100%;
    }
    .firstSectionRight{
        margin-top: 100px;
    }
    .footer{
        height: fit-content;
    }
    .footerFirstLeft{
        margin:70px 20px;
        font-size: 1.2rem;
    }
    .footerFirstRight{
        margin: 70px 52px;
    }
}